<h1>Listing workouts</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Notes</th>
  </tr>

<% @workouts.each do |workout| %>
  <tr>
    <td><%=h workout.name %></td>
    <td><%=h workout.notes %></td>
    <td><%= link_to 'Show', workout %></td>
    <td><%= link_to 'Edit', edit_workout_path(workout) %></td>
    <td><%= link_to 'Destroy', workout, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New workout', new_workout_path %>